DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/dabljaar
SECRET_KEY="4acaa4673b1c8838f134635ef66e786d389768bbe10983b3020aba8d24f22557"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRES_MINUTES = 30
REFRESH_TOKEN_EXPIRES_DAYS = 7